<section>
    <div class="cont">
        <div class="cont_text">
            <h5>Team Members</h5>
            <h1>Our Master Chefs</h1>
        </div>

        <div class="cont_chefs">
            
            <div class="chefs_box">
                <div class="team">
                    <div class="chef_img">
                         <img src="../../../assets/masterchef/team-1.jpg" alt="">
                    </div>
                    <h4>Christopher</h4>
                    <p>Designation</p>
                    <div class="chef_logo">
                        <a href=""> <i class="fab fa-facebook"></i> </a>
                        <a href=""> <i class="fab fa-twitter"></i> </a>
                        <a href=""> <i class="fab fa-instagram"></i> </a>

                    </div>
                </div>
            </div>

            <div class="chefs_box">


                <div class="team">
                    <div class="chef_img">
                         <img src="../../../assets/masterchef/team-2.jpg" alt="">
                    </div>
                    <h4>Nathan</h4>
                    <p>Designation</p>
                    <div class="chef_logo">
                        <a href=""> <i class="fab fa-facebook"></i> </a>
                        <a href=""> <i class="fab fa-twitter"></i> </a>
                        <a href=""> <i class="fab fa-instagram"></i> </a>

                    </div>
                </div>

            </div>

            <div class="chefs_box">

                <div class="team">
                    <div class="chef_img">
                         <img src="../../../assets/masterchef/team-3.jpg" alt="">
                    </div>
                    <h4>Thiago</h4>
                    <p>Designation</p>
                    <div class="chef_logo">
                        <a href=""> <i class="fab fa-facebook"></i> </a>
                        <a href=""> <i class="fab fa-twitter"></i> </a>
                        <a href=""> <i class="fab fa-instagram"></i> </a>

                    </div>
                </div>
            </div>

            <div class="chefs_box">

                <div class="team">
                    <div class="chef_img">
                         <img src="../../../assets/masterchef/team-4.jpg" alt="">
                    </div>
                    <h4>Wesley</h4>
                    <p>Designation</p>
                    <div class="chef_logo">
                        <a href=""> <i class="fab fa-facebook"></i> </a>
                        <a href=""> <i class="fab fa-twitter"></i> </a>
                        <a href=""> <i class="fab fa-instagram"></i> </a>

                    </div>
                </div>

            </div>


        </div>
    </div>
</section>
