<section class="notfound">
  <div class="container">
    <div class="number">
        <h1>4</h1>
        <h5>0</h5>
        <h1>4</h1>
    </div>
    <div class="pageText">
        <h1>PAGE NOT FOUND</h1>
      <p>The page you are looking for was moved removed renamed or might never existedd</p>
    </div>

    <div class="home">
        <button routerLink="/" class="btn homebtn" >GO HOME</button>
        <button routerLink="/contact" class=" btn contactbtn" >CONTACT US</button>
    </div>
</div>
</section>
