<app-header></app-header>
<main>


    <section class="section_one">
        <div class="cont">
            <div class="cont_img">
                <div class="img_info">

                    <div class="img_text">

                        <div class="page_text">
                            <h1>Enjoy Our <br>
                                Delicious Meal</h1>
                            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
                                Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat
                                ame</p>
                            <button class="btn btn-success">BOOK A TABLE</button>
                        </div>

                    </div>

                    <div class="second_img">
                        <img src="../../assets/page1_img/hero.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </section>


    <app-homepages></app-homepages>
    <app-aboutpage></app-aboutpage>


    <section class="section_second">

      
        <div class="second_cont">

            <div class="sec_img">
               
            </div>

            <div class="sec_form">

                <div form_info>
                    <h5 style="color: white;">Reservation</h5>
                    <h1 style="color: white;">Book A Table Online</h1>

                    <div class="form">

                        <form  >


                        <div class="input_box">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                              </div>

                              <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="LastName" aria-label="LastName" aria-describedby="basic-addon1">
                              </div>
                        </div>


                        <div class="input_box">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                              </div>

                              <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                        </div>

                        <div class="textarea">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                        </div>
                     
                        <button class="btn mt-3">Book Now</button>


                        </form>
                    </div>
                </div>

            </div>



        </div>
    </section>


</main>


<app-mastechef></app-mastechef>
<app-clientcarousel></app-clientcarousel>



