<section>
    <div class="cont">
        <div class="contact_info">
            <h5>Cotact Us</h5>
            <h1>Contact For Any Query</h1>
        </div>
        <div class="contact_mail">
            <div class="booking">
                <h5>Booking</h5>
                <p> <span><i class="fa fa-envelope-open"></i></span> Book&#64;example.com</p>
            </div>
            <div class="booking">
                <h5>General</h5>
                <p> <span><i class="fa fa-envelope-open"></i></span> info&#64;example.com</p>
            </div>
            <div class="booking">
                <h5>Technical</h5>
                <p> <span><i class="fa fa-envelope-open"></i></span> tech&#64;example.com</p>
            </div>
        </div>

        <div class="contact_map">
            <div class="map">
                <iframe style="width: 100%; height: 100%;" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

            </div>


            <div class="form_box"> 

                <form  >


                    <div class="input_box">
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                          </div>

                          <div class="input-group mb-4">
                            <input type="text" class="form-control" placeholder="LastName" aria-label="LastName" aria-describedby="basic-addon1">
                          </div>
                    </div>


                    <div class="input_box">
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                          </div>

                          <div class="input-group mb-4">
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                    </div>

                    <div class="textarea">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                    </div>
                 
                    <button class="btn mt-3">Book Now</button>


                    </form>

            </div>
        </div>
    </div>
</section>
