


<section>

    <div class="cont">

    <div class="text-center">
        <p>Testimonial</p>
        <h1>Our Clients Say!!!</h1>
    </div>
    <owl-carousel-o class="text-center" [options]="customOptions">


        <ng-template carouselSlide >
            <div class="box">
                <div class="box_text">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, ullam!</p>
                    <div class="box_img">
                        <img src="../../../assets/clientCarousel/testimonial-2.jpg" alt="">
                        <div class="img_text">
                            <h4>Harley</h4>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="box">
                <div class="box_text">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, ullam!</p>
                    <div class="box_img">
                        <img src="../../../assets/clientCarousel/testimonial-3.jpg" alt="">
                        <div class="img_text">
                            <h4>Harley</h4>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="box">
                <div class="box_text">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, ullam!</p>
                    <div class="box_img">
                        <img src="../../../assets/clientCarousel/testimonial-4.jpg" alt="">
                        <div class="img_text">
                            <h4>Harley</h4>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="box">
                <div class="box_text">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, ullam!</p>
                    <div class="box_img">
                        <img src="../../../assets/clientCarousel/testimonial-3.jpg" alt="">
                        <div class="img_text">
                            <h4>Harley</h4>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="box">
                <div class="box_text">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, ullam!</p>
                    <div class="box_img">
                        <img src="../../../assets/clientCarousel/testimonial-2.jpg" alt="">
                        <div class="img_text">
                            <h4>Harley</h4>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>




    </owl-carousel-o>

</div>

</section>

