







<section>

    <div class="cont">

        <div class="img_cont"> 
        
            <div class="box" >

                <img src="../../../assets/aboutpages/about-1.jpg" alt="">
            </div>

            <div class="box img2">
                <img src="../../../assets/aboutpages/about-2.jpg" alt="">
            </div>

            <div class="box img3">
                <img src="../../../assets/aboutpages/about-3.jpg" alt="">
            </div>


            <div class="box">
                <img src="../../../assets/aboutpages/about-4.jpg" alt="">
            </div>


        </div>




        <div class="cont_info">


            <h5>About Us</h5>
            <h1>Welcome to <span style="color:  #FEA116;"> <i class="fas fa-utensils"></i> </span> Restoran</h1>
            <p>Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing. dolor sit amet consectetur adipisicing
                elit. Eveniet vel eligendi temporibus.</p>
            <p>Lorem ipsum dolor sit dolor sit amet consectetur. ipsum dolor sit amet. amet consectetur, adipisicing
                elit. Nesciunt error pariatur accusamus, nulla saepe commodi!</p>
            <div class="cont_exper">
                <div class="exper_box">

                    <h1>15</h1>
                    <div>
                        <p>Years</p>
                        <h6>EXPERIENCE</h6>
                    </div>

                </div>

                <div class="exper_box">

                    <h1>50</h1>
                    <div>
                        <p>Popular</p>
                        <h6>M.CHEFS</h6>
                    </div>

                </div>
            </div>

            <button class="mt-4">Read More</button>

        </div>

    </div>

</section>